body {
  user-select: none;
  -webkit-user-drag: none;
}

.login-box {
  position: relative;
}

.carosel {
  display: flex;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -200px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUpLogo 1s forwards;
  z-index: 2;
}

@keyframes moveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo img {
  max-width: 400px;
  margin-left: -10px;
}

.caroselContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.caroselImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.489) 70%,
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}

/* 로그인 폼 */
.join-box {
  position: absolute;
  top: 120%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  max-width: 550px;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.551);
  border-radius: 10px;
  padding: 30px;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  animation: slideDownLogin 0.6s ease-out 0.5s forwards;

  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideDownLogin {
  0% {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-group label {
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-right: 10px;
}

.input-group input {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.259);
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  color: white;
  overflow: hidden;
}

.input-group input::placeholder {
  color: rgba(62, 62, 62, 0.734);
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

.check-btn {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 7px 10px;
  margin-top: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.check-btn:hover {
  background-color: rgba(0, 0, 0, 0.508);
  transform: scale(1.05);
}

.gender {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 17px;
}

/* 성별 radio */
.genderContainer {
  display: flex;
  gap: 50px;
}

.custom-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e2ed7f;
  color: #444;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 2px solid transparent;
}

.custom-radio input {
  display: none;
}

.custom-radio:has(input:checked) {
  background-color: #807a89;
  color: white;
}

.custom-radio:hover {
  background-color: #d8d2e0;
  transform: scale(1.05);
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="number"]:focus {
  outline: none;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"] {
  font-size: 16px;
  margin-top: 10px;
}

/* 전화번호 */
.phoneBox {
  font-size: 17px;
  color: white;
  margin-bottom: 30px;
}

.phoneInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phoneInputs p {
  margin-top: 20px;
}

.phoneInputs input {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.259);
  font-size: 16px;
  width: 30%;
  color: white;
  overflow: hidden;
}

/* 회원가입 버튼 */
.joinBtn {
  width: 100%;
  padding: 12px 0;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  color: #444;
  background-color: #e7e2ed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.joinBtn:hover {
  background-color: #bfb9c7;
  transform: scale(1.05);
  color: white;
}

.joinBtn:active {
  background-color: rgb(156, 145, 168);
  transform: scale(0.98);
}

.joinBtn:disabled {
  background-color: #d1c9d7;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

.box {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/static/images/custom-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  padding: 5px 25px 5px 10px;
}

/* 성별, 전화번호, 생일 그룹 */
.birthInputs {
  display: flex;
  margin-top: 20px;
}

.birth,
.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 17px;
  color: white;
}

.birth select {
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
  flex: 1;
  margin-left: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.259);
}

.birth select:focus {
  border: none;
  outline: none;
}

.birth option {
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
}

.adress {
  margin-top: 10px;
}

.red {
  position: absolute;
  font-size: small;
  color: rgb(212, 28, 28);
  margin-top: 10px;
}

.green {
  position: absolute;
  font-size: small;
  color: rgb(0, 255, 0);
  margin-top: 10px;
}

.link-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  position: relative;
}

.link-group a {
  display: inline-block;
  color: rgb(84, 84, 84);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  position: relative;
}

.link-group a:hover {
  color: #cb2b2b;
}

.link-group a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #cb2b2b;
  transition: width 0.3s ease;
}

.link-group a:hover::after {
  width: 100%;
}

.flex p {
  margin-top: 15px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .join-box {
    padding: 20px;
  }
  form {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .join-box {
    padding: 10px;
    margin-top: 20px;
  }

  .logo img {
    max-width: 300px;
  }

  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
  }

  form {
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .input-group input {
    width: 100%;
    max-width: 100%;
  }

  .input-group label {
    width: 100%;
  }

  .check-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  a {
    margin-top: 10px;
  }

  .mainLogo {
    margin-top: -10px;
  }

  .genderContainer {
    gap: 20px;
  }
}
