body {
  user-select: none;
  -webkit-user-drag: none;
}

.backColor {
  background-color: rgba(181, 167, 183, 0.59);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 맨 위 이미지 */
.topContainer {
  position: relative;
  width: 100%;
}

.carosel {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUpLogo 1s forwards;
  z-index: 2;
  margin-bottom: 10px;
  cursor: pointer;
}

@keyframes moveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo img {
  max-width: 98%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 100%;
  max-width: 1280px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 10px 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.259);
  font-size: 16px;
  max-width: 100%;
  width: 45%;
  color: white;
  overflow: hidden;
  border-radius: 10px;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

.searchBox button {
  width: 100px;
  padding: 10px 0;
  font-size: 16px;
  color: #444;
  background-color: #ffffffd4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.searchBox button:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}

input:focus {
  outline: none;
}

.write {
  display: flex;
  width: 300px;
  height: 50px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(101, 100, 100);
}

.caroselImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

/* 카테고리 */
.categorys {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -100px;
  z-index: 1;
}

.category {
  position: relative;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUp 1s forwards;
  cursor: pointer;
}

.category:nth-child(1) {
  animation-delay: 0.3s;
}

.category:nth-child(2) {
  animation-delay: 0.6s;
}

.category:nth-child(3) {
  animation-delay: 0.9s;
}

.category:nth-child(4) {
  animation-delay: 1.2s;
}

.category:nth-child(5) {
  animation-delay: 1.5s;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.imgContainer:hover {
  transform: scale(1.05);
}

.imgContainer img {
  width: 100%;
  height: auto;
  max-width: 280px;
  max-height: 350px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0));
  pointer-events: none;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2;
}

.text h4 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* 게시글 */
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
}

.mainContainer h1,
.allPostsBox h1 {
  color: white;
  margin-bottom: 20px;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.postsBox {
  display: flex;
  width: 100%;
  max-width: 95%;
  gap: 15px;
  height: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.postContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.478);
  border-radius: 10px;
  width: 230px;
  max-width: 230px;
  height: 300px;
  max-height: 300px;
  align-items: center;
  transition: background-color 0.3s ease-in;
}

.postContainer img {
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.postContainer:hover {
  background-color: rgba(255, 255, 255, 0.801);
}

.postContainer:hover img {
  opacity: 1;
}

.contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px 10px 0 10px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(64, 60, 91, 0.485);
  color: white;
  overflow: hidden;
  transition: height 0.6s ease-in-out, background-color 0.5s ease-in;
  cursor: pointer;
}

.contentBox:hover {
  height: 140px;
  background-color: rgba(67, 63, 96, 0.775);
}

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.postImg {
  position: relative;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
}

.post-card .post-image {
  width: 100%;
  margin-bottom: 5px;
}

.post-image {
  height: 200px;
  border-radius: 10px;
}

.postImage {
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.post-info,
.postInfo {
  display: flex;
  gap: 10px;
  padding: 7px 15px 0 0;
}

/* 좋아요 버튼 */
.favoriteIcon {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 3px;
}

.favoriteIcon img {
  width: 20px;
}

/* 모든 게시글 */
.allPostsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 10px 30px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.allPostContainer {
  width: 100%;
  display: flex;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.allPostContainer.show {
  opacity: 1;
  transform: translateY(0);
}

.allContentBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.all-post-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.54);
  max-width: 1215px;
  width: 1215px;
  height: 200px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 0 20px 20px;
  transition: transform 0.3s ease, background-color 0.3s ease-in;
  align-items: center;
  overflow: hidden;
}

.all-post-card:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.01);
}

.all-post-card img {
  max-width: 200px;
}

.textBox,
.favoriteIcon,
.post-image {
  cursor: pointer;
}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 준비 중 이미지 */
.emptyImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.emptyImg img {
  max-width: 100%;
}

@media screen and (max-width: 1275px) {
  .postsBox {
    justify-content: center;
  }
  .postContainer {
    max-width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .postsBox {
    width: 95%;
    justify-content: center;
  }

  .postContainer {
    max-width: 180px;
    max-height: 280px;
  }

  .post-card .post-image {
    height: 180px;
  }
}

@media screen and (max-width: 900px) {
  .categorys {
    display: none;
  }

  .searchBox {
    margin-top: 20px;
  }

  .write {
    margin-top: 20px;
  }

  .mainContainer {
    margin-top: 30px;
  }

  .postContainer {
    max-width: 160px;
    max-height: 260px;
  }

  .post-card .post-image {
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .allContentBox .favoriteIcon img {
    width: 30px;
  }

  .postsBox {
    display: flex;
    flex-direction: column;
    scroll-snap-type: x mandatory;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .all-post-card {
    padding: 0;
  }

  .mainContainer {
    margin-top: 10px;
  }

  .postContainer {
    max-width: 90%;
    width: 100%;
    margin-bottom: 20px;
  }

  .post-card {
    max-width: 100%;
  }

  .post-card .post-image {
    max-height: 100%;
  }

  .allContentBox {
    padding: 20px 30px 0 30px;
  }

  .allContentBox .content {
    display: none;
  }

  .allPostsBox {
    padding: 20px;
  }

  .post-info {
    position: relative;
  }

  .postInfo {
    position: relative;
    top: 120px;
  }
}

@media screen and (max-width: 700px) {
  .mainContainer {
    margin-top: 40px;
  }

  .all-post-card {
    flex-direction: column;
    position: relative;
    height: 300px;
  }

  .all-post-card img {
    max-width: 100%;
    max-height: 180px;
  }

  .allContentBox {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .allPostsBox {
    padding: 30px;
  }

  .postInfo {
    top: 0px;
  }

  .allPostContainer {
    width: 100%;
  }

  .postImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .postImage {
    width: 100%;
    max-width: 1000px;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .allContentBox .favoriteIcon img {
    width: 35px;
  }

  .postsBox {
    justify-content: center;
    flex-wrap: wrap;
  }
}
