/* 전체 */
body {
  user-select: none;
  -webkit-user-drag: none;
}

/* 경고 글자 */
.red {
  position: absolute;
  font-size: small;
  color: rgb(212, 28, 28);
  margin-top: 10px;
}

.green {
  position: absolute;
  font-size: small;
  color: rgb(0, 255, 0);
  margin-top: 10px;
}

/* 헤더 이미지 */
.carosel {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -200px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUpLogo 1s forwards;
  z-index: 2;
}

@keyframes moveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo img {
  max-width: 400px;
  margin-left: -10px;
}

.caroselContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.temporaryBox {
  width: 100%;
  position: relative;
}

.caroselImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.489) 70%,
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}

/* 이미지 미리보기 */
.image-upload {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 20px 0 0 0;
}

.image-upload span {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  text-align: center;
}

#preview {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* 계정 폼 */
form {
  position: relative;
  top: 750px;
  left: 17%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 550px;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.551);
  border: 1px solid rgb(121, 121, 121);
  border-radius: 10px;
  padding: 50px;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  animation: slideDownLogin 0.6s ease-out 0.5s forwards;

  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@keyframes slideDownLogin {
  0% {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

form h3 {
  font-size: 20px;
  color: #ffffff;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 주소 입력 */
.addrGroup {
  width: 100%;
  margin-bottom: 20px;
}

.flexCode {
  display: flex;
  justify-content: space-between;
}

.flexCode input {
  width: 48%;
}

.flexCode .postBtn {
  margin-right: -11px;
}

.flexDetail {
  display: flex;
  justify-content: space-between;
}

.flexDetail input {
  width: 48%;
}

/* 비밀번호 변경 */
.passCheck input {
  margin-top: 5px;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  form {
    top: 780px;
    margin-left: 7px;
    padding: 30px;
  }

  .caroselImg {
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .profileGroup {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    max-width: 350px;
  }
}
