.box{
  width: 200px;
  height: 200px;
  background-color: red;
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 50%; /*가로 세로 크기가 같아야 원이 됨*/
  object-fit: cover;
  /* 
  이미지가 잘려도 비율을 맞춤 -> 긴 부분에 맞춤춤
  object-fit: cover;
  
  빈 공간이 생겨도 원본이 다 보이도록 함 -> 짧은 부분에 맞춤
  object-fit: contain;
  */
}