<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/callback.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naver Login</title>
  </head>
  <body>
    <img src="/static/images/successLogin.png" alt="success login" />

    <script src="/static/js/callback.js"></script>
  </body>
</html>
