<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/findPw.css" />
    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Password</title>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("nav") %>

    <div class="login-box">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
        <div class="logo">
          <img src="/static/images/findPwLogo.png" alt="findPw logo" />
        </div>
      </div>
      <div class="loginBox">
        <form>
          <div class="input-group">
            <label for="id">아이디</label>
            <input
              type="email"
              name="email"
              placeholder="이메일을 입력하여 주세요."
              id="email"
              required
            />
          </div>
          <br />
          <div class="passInput">
            <label for="pass">비밀번호</label>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="비밀번호를 입력해 주세요"
              required
            />
          </div>
          <div class="alret"></div>

          <br />

          <div class="passInput">
            <label for="password">비밀번호 <br />재확인</label>
            <input
              type="password"
              name="passCheck"
              id="passCheck"
              placeholder="비밀번호를 확인해 주세요"
              required
            />
          </div>
          <div id="alretCheck"></div>
          <br />
          <button type="button" class="check-btn"></button>
          <br />
          <button type="button" class="loginBtn">
            <div class="checkBtn" onclick="idCheck()">아이디 확인</div>
          </button>
        </form>
        <div class="link-group">
          <a href="#" onclick="moveUrl('findId')">아이디 찾기</a>
          <a href="#" onclick="moveUrl('join')">회원가입</a>
        </div>
      </div>
    </div>
    <script src="/static/js/findPw.js"></script>
  </body>
</html>
