<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/findId.css" />
    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Id</title>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("nav") %>

    <div class="login-box">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
        <div class="logo">
          <img src="/static/images/findIdLogo.png" alt="findId logo" />
        </div>
      </div>
      <div class="loginBox">
        <form>
          <div class="input-group">
            <label for="username">이름</label>
            <input
              type="text"
              name="username"
              placeholder="이름을 입력하여 주세요."
              id="username"
              required
            />
          </div>
          <br />
          <div class="phoneBox">
            전화번호
            <div class="phoneInputs">
              <input
                type="number"
                name="areaCode"
                maxlength="3"
                required
                placeholder="010"
                oninput="handleOnInput(this, 3)"
              />
              <p>-</p>
              <input
                type="number"
                name="middleNumber"
                maxlength="4"
                required
                placeholder="0000"
                oninput="handleOnInput(this, 4)"
              />
              <p>-</p>
              <input
                type="number"
                name="lastNumber"
                maxlength="4"
                required
                placeholder="0000"
                oninput="handleOnInput(this, 4)"
              />
            </div>
          </div>
          <br />
          <button type="button" class="loginBtn" onclick="loginCheck()">
            아이디 찾기
          </button>
        </form>
        <div class="link-group">
          <a href="#" onclick="moveUrl('findPw')">비밀번호 찾기</a>
          <a href="#" onclick="moveUrl('join')">회원가입</a>
        </div>
      </div>
    </div>
    <script src="/static/js/findId.js"></script>
  </body>
</html>
