<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="footBox">
      <div class="textContainer">
        <div class="corp">
          <p>ⓒ POSTIT Corp.</p>
        </div>
        <div class="texts" onclick="showAlert()">
          <p>개인정보처리방침</p>
          <p>|</p>
          <p>이용약관</p>
          <p>|</p>
          <p>다운로드</p>
          <p>|</p>
        </div>
      </div>
      <div class="snsIcon">
        <div onclick="showAlert()">
          <img
            src="https://help.worksmobile.com/wp-content/uploads/2024/08/ic20_youtube.svg"
            alt="youtube Icon"
          />
        </div>
        <div onclick="showAlert()">
          <img
            src="https://help.worksmobile.com/wp-content/uploads/2024/08/ic20_blog.svg"
            alt="blog Icon"
          />
        </div>
      </div>
    </div>
    <script src="/static/js/footer.js"></script>
  </body>
</html>
