<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/join.css" />

    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <%- include("nav") %>

    <div class="login-box">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
        <div class="logo">
          <img src="/static/images/signUpLogo.png" alt="signUp logo" />
        </div>
      </div>
      <div class="join-box">
        <form>
          <div class="input-group">
            <label for="id">아이디</label>
            <input
              type="email"
              name="email"
              placeholder="이메일을 입력하여 주세요."
              id="email"
              required
            />
          </div>
          <div class="check-btn" onclick="idCheck()">중복확인</div>

          <br />
          <hr />

          <div class="input-group">
            <label for="name">이름</label>
            <input
              type="text"
              name="name"
              placeholder="이름을 입력해 주세요"
              required
            />
          </div>
          <br />

          <hr />
          <div class="input-group">
            <label for="password">비밀번호</label>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="비밀번호를 입력해 주세요"
              required
            />
          </div>

          <div class="alret"></div>

          <br />

          <div class="input-group">
            <label for="password">비밀번호 재확인</label>
            <input
              type="password"
              name="passCheck"
              id="passCheck"
              placeholder="비밀번호를 확인해 주세요"
              oninput="pwCheck()"
              required
            />
          </div>
          <div id="alret"></div>
          <br />

          <hr />
          <div class="gender">
            성별
            <div class="genderContainer">
              <label class="custom-radio">
                <input type="radio" name="gender" value="man" checked />
                <span>남자</span>
              </label>
              <label class="custom-radio">
                <input type="radio" name="gender" value="woman" />
                <span>여자</span>
              </label>
            </div>
          </div>

          <hr />
          <br />

          <div class="phoneBox">
            전화번호
            <div class="phoneInputs">
              <input
                type="number"
                name="areaCode"
                maxlength="3"
                required
                placeholder="010"
                oninput="handleOnInput(this, 3)"
              />
              <p>-</p>
              <input
                type="number"
                name="middleNumber"
                maxlength="4"
                required
                placeholder="0000"
                oninput="handleOnInput(this, 4)"
              />
              <p>-</p>
              <input
                type="number"
                name="lastNumber"
                maxlength="4"
                required
                placeholder="0000"
                oninput="handleOnInput(this, 4)"
              />
            </div>
          </div>
          <div class="alret"></div>
          <div onclick="phoneCheck()" class="check-btn">전화번호 확인</div>

          <br />
          <hr />

          <div class="birth">
            생년월일
            <div class="birthInputs">
              <select class="box" id="birth-year">
                <option disabled selected>출생 연도</option>
              </select>
              <select class="box" id="birth-month">
                <option disabled selected>월</option>
              </select>
              <select class="box" id="birth-day">
                <option disabled selected>일</option>
              </select>
            </div>
          </div>

          <br />
          <button
            type="button"
            class="joinBtn"
            onclick="join()"
            disabled="disabled"
          >
            회원가입
          </button>

          <div class="link-group">
            <a href="/postit/login">로그인하러 가기</a>
          </div>
        </form>
      </div>
    </div>
    <script src="/static/js/join.js"></script>
  </body>
</html>
