<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/login.css" />
    <!-- 네이버 로그인 -->
    <script
      type="text/javascript"
      src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
      charset="utf-8"
    ></script>

    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.11.3.min.js"
    ></script>

    <!-- 카톡 로그인 -->
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"></script>

    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("nav") %>

    <div class="login-box">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
        <div class="logo">
          <img src="/static/images/loginLogo.png" alt="login logo" />
        </div>
      </div>

      <div class="loginBox">
        <form>
          <div class="input-group">
            <label for="id">아이디</label>
            <input
              type="email"
              name="email"
              placeholder="이메일을 입력하여 주세요."
              id="email"
              required
            />
          </div>
          <br />
          <div class="input-group">
            <label for="pass">비밀번호</label>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="비밀번호를 입력해 주세요"
              required
            />
          </div>

          <hr />

          <button type="button" class="loginBtn" onclick="loginCheck()">
            로그인
          </button>
        </form>
        <hr />

        <div class="link-group">
          <a href="#" onclick="moveUrl('findId')">아이디 찾기</a>
          <a href="#" onclick="moveUrl('findPw')">비밀번호 찾기</a>
          <a href="#" onclick="moveUrl('join')">회원가입</a>
        </div>

        <div class="separator">or</div>

        <div class="snsLogin">
          <div id="naver_id_login"></div>
          <a id="kakao-login-btn" href="#" onclick="loginWithKakao()">
            <img src="/static/images/kakaoLoginIcon.png" alt="kakao Icon" />
          </a>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
      charset="utf-8"
    ></script>
    <script src="/static/js/login.js" onload="initializeNaverLogin()"></script>
  </body>
</html>
